/*-> VARIABLES <-*/
:root{
    --color-black: #000;
    --color-white: #fff;
    --color-white__dark: #f7f7f7;
    --primary-color_dark: #eec1ea;
    --primary-color_light: #eec1ea;
    --primary-color_lighten:#ecade7;
    --color-green:#c5fad9;
    --yellow-color: #f78a09;
    --color-gray:#e5e8ef;
    --color-gray__dark:#6a6a6a;
    --color-active : #d5d7de;
    --color-pink__dark:#e41749;
}

/****************************/

/*-> FONTS <-*/

/****************************/


/*-> GENERAL <-*/

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size:62.5%; 
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 1.6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.658)), url('../images/img1.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 2rem 0;
}

a,a:hover{
    text-decoration: none !important;
}

/****************************/

.mail-box {
    margin: 0 auto;
    display: flex;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
}

.mail-box aside {
    float: none;
    padding: 0;
}

.mail-box .sm-side {
    background: var(--color-gray);
    flex: 1;
}

.mail-box .lg-side {
    /* background:#ffffffb0; */
    /* background: var(--color-white); */
    background: rgba(0, 0, 0, 0.199);
    color: var(--color-white) !important;
    flex: 4 !important;
}

.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 var(--primary-color_dark);
    color: var(--color-white);
    padding: 2rem;
}

.user-head img {
    float: left;
    border-radius: 50%;
}

.user-head .user-name {
    display: block;
    margin: 0 0 0 1rem;
}

.user-head .user-name h5 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0;
    cursor: default;
}

.user-head .user-name .email-address {
    color: var(--primary-color_lighten);
    font-size: 1.2rem;
    cursor: default;
}

a.mail-dropdown {
    background: none repeat scroll 0 0 var(--primary-color_lighten);
    border-radius: 2px;
    color: var(--primary-color_light);
    font-size: 1rem;
    margin-top: 2rem;
    padding: .3rem .5rem;
}

.compose-wrapper {
    padding: 2rem;
}

.inbox-body {
    padding: 2rem;
    background: transparent;
    height: 55rem;
    overflow: auto;
}

.inbox-body ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

.inbox-body::-webkit-scrollbar{
	width: 1rem;
	background-color: transparent;
}

.inbox-body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 10px;
}

.inbox-body::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color_dark);
}

.btn-compose {
    border: 1px solid var(--color-pink__dark);
    font-size: 1.5rem;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
    background:  var(--color-pink__dark);
    color: var(--color-white);
    padding: 1.2rem 0;
    text-align: center;
    width: 100%;
    transition: all .2s;
}

.btn-compose:hover {
    background: transparent;
    color: var(--color-pink__dark);
}

/* .btn-compose:visited {
    color: #fff;
} */

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inbox-divider {
    border-bottom: 1px solid var(--color-gray);
}

ul.inbox-nav li {
    display: inline-block;
    line-height: 4.5rem;
    width: 100%;
}

ul.inbox-nav li i {
    width: 2.5rem;
    text-align: center;
}

ul.inbox-nav li a {
    color: var(--color-gray_dark);
    display: inline-block;
    font-size: 1.2rem;
    line-height: 4.5rem;
    padding: 0 2rem;
    width: 100%;
}

ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 var(--color-active);
    color: var(--color-gray__dark);
    text-decoration: none;
}

ul.inbox-nav li a i {
    color: var(--color-gray__dark);
    font-size: 1.6rem;
    padding-right: 1rem;
}

/* ul.inbox-nav li a span.label {
    margin-top: 1.3rem;
} */

.inbox-head {
    background: var(--primary-color_lighten);
    color: var(--color-white);
    padding: 2rem;
}

.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 1.2rem;
}

.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: var(--color-gray__dark);
    float: left;
    height: 4rem;
    padding: 0 1rem;
}

.inbox-head .sr-btn {
    background: none repeat scroll 0 0 var(--primary-color_dark);
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: var(--color-white);
    height: 4rem;
    padding: 0 2rem;
}

.table-inbox {
    border: 1px solid var(--color-gray);
    margin-bottom: 0;
}

.table-inbox tr td {
    padding: 1.2rem !important;
    font-size: 1.2rem;
    color: var(--color-white);
}

.table-inbox tr td:hover {
    cursor: pointer;
}

.table-inbox tr td .fa-star.important, .table-inbox tr td .fa-star:hover {
    color: var(--yellow-color);
}

.table-inbox tr td .fa-star {
    color: var(--color-gray);
}

.table-inbox tr.unread td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.555);
    font-weight: 600;
}

ul.inbox-pagination {
    float: right;
}

ul.inbox-pagination li {
    float: left;
}

.mail-option {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}

.mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 var(--color-white__dark);
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: .5rem 1rem;
}

.mail-option .btn-group a.btn:hover {
    background-color: #e7e7e7;
}

.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid var(--color-white__dark);
}

.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid var(--color-white__dark);
    box-shadow: none;
}

.btn-send, .btn-send:hover {
    background: none repeat scroll 0 0 var(--primary-color_light);
    color: var(--color-white);
}

.btn-send:hover {
    background: none repeat scroll 0 0 var(--primary-color_lighten);
}

.modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}

.modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}

.heading-inbox h4 {
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-gray__dark);
    font-size: 1.8rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.sender-info {
    margin-bottom: 2rem;
}

.sender-info img {
    height: 3rem;
    width: 3rem;
}

.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: var(--color-gray__dark);
    font-size: 1rem;
    padding: 0 .3rem;
}

.view-mail a {
    color: var(--color-red);
}

.attachment-mail {
    margin-top: 3rem;
}

.attachment-mail ul {
    display: inline-block;
    margin-bottom: 3rem;
    width: 100%;
}

.attachment-mail ul li {
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 15rem;
}

.attachment-mail ul li img {
    width: 100%;
}

.attachment-mail ul li span {
    float: right;
}

.attachment-mail .file-name {
    float: left;
}

.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: .4rem;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: .5rem;
}

.files .progress {
    width: 20rem;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

* html .fileinput-button {
    line-height: 2.4rem;
    margin: 1px -3px 0 0;
}

* + html .fileinput-button {
    margin: 1px 0 0;
    padding: .2rem 1.5rem;
}

@media (max-width: 767px) {
    .files .btn span {
        display: none;
    }
    .files .preview * {
        width: 4rem;
    }
    .files .name * {
        display: inline-block;
        width: 8rem;
        word-wrap: break-word;
    }
    .files .progress {
        width: 2rem;
    }
    .files .delete {
        width: 6rem;
    }
}

.message {
    font-size: 1.8rem;
}

.attachments {
    margin-top: 3rem;
}